<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ybj.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".kotlin.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kotlin.rxjava.RxJavaMainActivity"></activity>
        <activity android:name=".kotlin.view.DragHelperActivity" />
        <activity android:name=".kotlin.view.ViewPagerActivity" />
        <activity android:name=".kotlin.view.MultiTouchActivity" />
        <activity android:name=".kotlin.view.ScalableImageActivity" />
        <activity android:name=".kotlin.view.TagLayoutActivity" />
        <activity android:name=".kotlin.view.MaterialTextViewActivity" />
        <activity android:name=".kotlin.view.AnimatorMainActivity" />
        <activity android:name=".kotlin.view.CameraActivity" />
        <activity android:name=".kotlin.view.BreakTextActivity" />
        <activity android:name=".kotlin.view.SportViewActivity" />
        <activity android:name=".kotlin.view.CircleAvatarActivity" />
        <activity android:name=".kotlin.view.PieChartActivity" />
        <activity android:name=".kotlin.view.DashBoardActivity" />
        <activity android:name=".kotlin.view.ViewMainActivity"></activity>
        <activity android:name=".kotlin.okhttp.OkHttpActivity" />
        <activity android:name=".kotlin.recyclerView.ItemDecorationRecyclerViewActivity" />
        <activity android:name=".kotlin.recyclerView.DiffUtilRecyclerViewActivity" />
        <activity
            android:name=".kotlin.recyclerView.RecyclerViewBaseSampleActivity"
            android:theme="@style/RecyclerViewBaseSimpleTheme" />
        <activity android:name=".kotlin.recyclerView.RecyclerViewMainActivity" />
        <activity android:name=".kotlin.constraintLayout.FlowActivity" />
        <activity android:name=".kotlin.constraintLayout.LinearActivity" />
        <activity android:name=".kotlin.constraintLayout.ConstraintSetXActivity" />
        <activity android:name=".kotlin.constraintLayout.PlaceHolderActivity" />
        <activity android:name=".kotlin.constraintLayout.CircularRevealActivity" />
        <activity android:name=".kotlin.constraintLayout.HelperActivity" />
        <activity android:name=".kotlin.constraintLayout.GuideLineActivity" />
        <activity android:name=".kotlin.constraintLayout.ButtonPercentActivity" />
        <activity android:name=".kotlin.constraintLayout.DimensionRatioActivity" />
        <activity android:name=".kotlin.constraintLayout.CircularPositioningActivity" />
        <activity android:name=".kotlin.constraintLayout.ConstraintSampleActivity" />
        <activity android:name=".kotlin.constraintLayout.ConstraintLayoutMainActivity" />
        <activity android:name=".kotlin.retrofit.RetrofitActivity" />
        <activity android:name=".kotlin.PracticeActivity1" />
        <activity android:name=".kotlin.handler.HandlerThreadActivity" />
        <activity android:name=".kotlin.LessonActivity" />
        <activity android:name=".kotlin.LoginKotlinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>